/* || GENERAL SETUP || */

html,
body {
  margin: auto;
  width: auto;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  background-color: #6091c3;
}

/* || TYPOGRAPHY || */

h1 {
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  text-decoration: underline;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search {
  color: black;
}

.suggestions {
  color: black;
}
